<div class="row mt-2">
	{% if news|length is same as(0) %}
		<div class="col-12 text-center">
			<div class="alert alert-danger" role="alert">
				A un no se han creado post sobre Politica
			</div>
		</div>
	{% else %}
		{% for new in news %}
			<div class="col-sm-6">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">{{ new.title }}</h5>
					</div>
					<div class="card-body">
						<p class="card-text">{{ new.content }}</p>
						<small class="card-text">
							<strong>Autor:</strong> {{ new.author.name }}
							<br>
							<strong>Fecha de Publicacion:</strong> {{ new.dateCreation|date("Y-m-d") }}
						</small>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>
